.calculator-display {
  width: 400px;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-result {
  height: 100px;
  background: #2a2a2a;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

.calculator-result .result-tiny {
  color: #bcabab;
  font-size: 1rem;
  padding: 3px 1rem;
}
.calculator-result .result-main {
  color: white;
  font-size: 2rem;
  flex-grow: 1;
  text-align: end;
  padding: 0 1rem;
}

.c-d-numbers {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.c-d-numbers * {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  font-size: 2rem;
}
.c-d-numbers :nth-child(11) {
  grid-column: 1/-1;
}
.clear {
  grid-column: 1/-1;
}

.c-d-actions > * {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px grey solid;
  font-size: 3rem;
  background: #ff2020;
  color: white;
}
