.calculator-display {
  width: 400px;
  margin: 5rem 0;
}

.calculator-result {
  height: 75px;
  background: #2a2a2a;
  display: flex;
  flex-direction: column;
}

.calculator-result .result-tiny {
  color: #bcabab;
  font-size: 1rem;
  padding: 3px 1rem;
}
.calculator-result .result-main {
  color: white;
  font-size: 2rem;
  flex-grow: 1;
  text-align: end;
  padding: 0 1rem;
}
